<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Jinja2 наследование</title>
</head>
<body>
    
<ul>
			<li><p class='item'>Математика </p></li>
			<li> Математика  </li>
			<li><p class='item'>Физика</p></li>
			<li> Физика </li>
			<li><p class='item'>Информатика </p></li>
			<li> Информатика  </li>
			<li><p class='item'>Русский </p></li>
			<li> Русский  </li>
			</ul>
<h1>Jinja2 наследование</h1>
<p>Наследование (расширение) шаблонов</p>

</body>
</html>




